.login-signup {
  width: 100%;
  height: 800px;
  background: #fce3fe;
  padding-top: 100px; 
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background: #fff;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin: 20px 0;
    text-align: center;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input {
    width: 100%;
    height: 52px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button {
    width: 180px;
    height: 50px;
    color: #fff;
    background: #ff4141;
    border: none;
    margin-top: 30px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
}

.loginsignup-login {
   margin-top: 20px;
   color:#5c5c5c;
}

.loginsignup-login span {
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
    color: #000;
}

.loginsignup-agree {
    margin-top: 15px;
    display: flex;
    color: #5c5c5c;
    font-size: 12px;
    align-items: center;
    gap: 10px;
}



@media(max-width: 1280px) {
    .login_signup {
        padding-top: 50px;
    }
    .loginsignup-container {
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .login_signup h1 {
        margin: 10px 0;
        font-size: 28px;
    }
    .loginsignup-fields {
        gap: 20px;
        margin-top: 20px;
    }
    .loginsignup-fields input {
       height: 50px;
    }
    .loginsignup-login {
        margin-top: 15px;
    }
}

@media(max-width: 800px) {
    .login_signup {
        height: 650px;
    }
    .loginsignup-fields input {
        height: 45px;
        font-size: 16px;
     }
     .loginsignup-container button {
        width: 160px;
        height: 40px;
        color: #fff;
        margin-top: 26px;       
        font-size: 16px;
    }
    .login_signup p {
        font-size: 15px;
    }
    .loginsignup-agree {
        margin-top: 12px;
        font-size: 12px;
        align-items: center;
        gap: 8px;
    }
    .loginsignup-agree input{
      margin-top: -22px;
    }
}