.related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 150px;
}

.related-products h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.related-products hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.related-products-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}


@media(max-width: 1280px) {
    .related-products {
        height: 60vh;
        margin-top: 100px;
        margin-bottom: 10px;
    }
    .related-products h1 {
        font-size: 30px;
    }
    .related-products-item {
        gap:20px;
        margin-top: 20px;
    }
}

@media(max-width: 1024px) {
    .related-products {
        height: 50vh;
    }
    .related-products-item {
        gap: 10px;
        margin-top: 20px;
    }
    .related-products hr {
        width: 180px !important;
    }
}

@media(max-width: 800px) {
    .related-products {
        height: 40vh;
        gap: 6px;
    }
    .related-products h1 {
        font-size: 25px;
    }
    .related-products-item {
       /*  gap: 20px; */
        margin-top: 20px;
    }
    .related-products hr {
        width: 150px !important;
        height: 5px !important;
    }
}

@media(max-width: 500px) {
    .related-products {
        height: 90vh;
    }
    .related-products-item {
      display: grid; 
      grid-template-columns: 1fr 1fr;
    }
    .related-products hr {
        width: 150px !important;
        height: 5px !important;
    }
}